@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
  }
 
  .dark {
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 100%;
  }
}